<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  </head>
  <body>
    <div class="dropzone">
      Drop files here to upload or <a class="resumable-browse"><u>select from your computer</u></a>
    </div>

    <script src="../static/js/resumable.js"></script>
    <script src="../static/js/jquery.slim.min.js"></script>
    <script src="../static/js/jquery.resumable.js"></script>

    <script src="../static/js/main.js"></script>
  </body>
</html>
